<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DoNotStressIt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1DC03981E99F6E8006B996B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1DC03AC1E99F6E8006B996B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1DC03B71E99F6E8006B996B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
